<div id="nav-container" class="wireframe">
    <button class="menu-button btn-default">Menu</button>
    <div class="branding">
        <img src="/images/img_placeholder.png" width="30" height="30" class="menu-logo">
        <h1>{{title}}</h1>
    </div>
    <span class="logout-app glyphicon glyphicon-off"></span>
</div>